@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Read_docs_btn {
  box-shadow: 0px 6.81px 6.81px -4.09px #000000CC;
  box-shadow: 0px 20.43px 20.43px 0px #0000004D;
  box-shadow: 0px -2.72px 6.13px 0px #FFFFFF80 inset;
  box-shadow: 0px -0.68px 2.04px 0px #000000B2 inset;
  box-shadow: 0px 2.04px 6.13px 0px #FFFFFF4D inset;
}

.feature-bg-info-linear{
  background: url(/images/texture.png), linear-gradient(180.11deg, #110d05e6 47.74%, #2c180a 99.9%);
  background-blend-mode: darken;
  background-size: cover;
}

.border_gradient_ai {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(180deg, #8E542B 0%, #D6C4A9 100%);
}

.ai-bg-radial{
  background: rgb(230,126,82);
  background: radial-gradient(circle, rgba(230,126,82,1) 35%, rgba(0,0,0,0.5) 100%);
}

.prepare_for_ai_container{
  background: rgb(230,126,82);
  background: url(/images/random-text-bg.png), radial-gradient(circle, rgba(230,126,82,1) 1%, rgba(0, 0, 0, 0.809) 60%);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.code_editor_container{
  box-shadow: 1px 1px 20px 6px rgba(230,126,86,0.75);
  -webkit-box-shadow: 1px 1px 20px 6px rgba(230,126,86,0.75);
  -moz-box-shadow: 1px 1px 20px 6px rgba(230,126,86,0.75);
}