@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Read_docs_btn {
  box-shadow: 0px 6.81px 6.81px -4.09px #000000CC;
  box-shadow: 0px 20.43px 20.43px 0px #0000004D;
  box-shadow: 0px -2.72px 6.13px 0px #FFFFFF80 inset;
  box-shadow: 0px -0.68px 2.04px 0px #000000B2 inset;
  box-shadow: 0px 2.04px 6.13px 0px #FFFFFF4D inset;
}